In [7]:
#M04 Modules and Databases

#imports the python module zoo and then uses the function from it
import zoo

zoo.hours()

Open 9-5 daily

In [8]:
#Changes the name of zoo to menagerie and can now be referenced as so

import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [1]:
#brings in sqlite and connects to a books database and creates the table in it
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books (title VARCHAR(50) PRIMARY KEY, author VARCHAR(50), year INT)''')

In [2]:
#Insert values into the table

curs.execute('INSERT INTO books VALUES("The Weirdstone of Brisingamen", "Alan Garner", 1960)')
curs.execute('INSERT INTO books VALUES("Perdido Street Station", "China MiÃ©ville", 2000)')
curs.execute('INSERT INTO books VALUES("Thud!", "Terry Pratchett", 2005)')
curs.execute('INSERT INTO books VALUES("The Spellman Files", "Lisa Lutz", 2007)')
curs.execute('INSERT INTO books VALUES("Small Gods", "Terry Pratchett", 1992)')

In [3]:
#get from table only the titles display only the titles from the table and order in alphabetical order

curs.execute('SELECT title FROM books ORDER BY title ASC')
titles = curs.fetchall()

print(titles)

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [4]:
#Close connections

curs.close()
conn.close()

In [6]:
#couldn't get this to work, execute is not being recongnized no matter what I do and thats how it says to do it in the book

import sqlalchemy as sa

conn = sa.create_engine('sqlite:///books.db')

titles = conn.execute('SELECT title FROM books ORDER BY title ASC')

#print(titles)

#titles.close()

AttributeError: 'Engine' object has no attribute 'execute'